.header{
	margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
	height: 60px;
	border-radius: 33px 33px 33px 33px;
	-moz-border-radius: 33px 33px 33px 33px;
	-webkit-border-radius: 33px 33px 33px 33px;
    text-align: center;
}
.footer{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
	height: 60px;
	border-radius: 33px 33px 33px 33px;
	-moz-border-radius: 33px 33px 33px 33px;
	-webkit-border-radius: 33px 33px 33px 33px;
    text-align: center;
}
.Content{
    margin: auto;
	width: 80%;
	height: 400px;

	border-radius: 33px 33px 33px 33px;
	-moz-border-radius: 33px 33px 33px 33px;
	-webkit-border-radius: 33px 33px 33px 33px;
}
.leftContent{
    margin-left: 20px;
    margin-top: 40px;
	float: left;
	width: 80px;
}
.centerContent{
	float: left;
	margin-left: 25px;
    margin-top: 40px;
	width: 400px;
}
.rightContent{
	float: left;
	margin: 20px;

    width:300px;
    height:300px;
}
.font{
	margin-top: 20px;
	font-size: 20px;
	font-family: 微軟正黑體;
}
a[class="1"]{
  text-decoration:none;
  color:white;
}
input[class="1"]{
    margin-top:20px;
    width:300px;
    height:20px;
}
.addBtn{
    margin-top: 50px;
}
.color8EC5C6{background-color: #8EC5C6;}
.colorDodgerblue{background-color: #87B8EB;}
