.header{
	margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
	width: 80%;
	height: 60px;
	border-radius: 33px 33px 33px 33px;
	-moz-border-radius: 33px 33px 33px 33px;
	-webkit-border-radius: 33px 33px 33px 33px;
    text-align: center;
}
.font{
	padding-top: 10px;
	font-size: 25px;
	font-family: 微軟正黑體;
}
.funcRow{
    margin-left: 150px;
    margin-right: 150px;
    overflow: hidden;
    background-color: #EEEEEE;
    border-radius: 33px 33px 33px 33px;
}
.func{
    float: right;
}
.image{
    width: 300px;
    height: 200px;
}

table, td, th {
            text-align: center;
            border: 1px solid black;
}

table {
        
        width: 100%;
}

th {
        height: 50px;
        background-color: green;
        color: white;
}

a {
    padding-left: 10px;
    text-decoration:none;
    text-align: center;
    width: auto;
    height: 45px;
    font-size: 30px;
    color: #333333;
    padding-right: 10px;
    border-left-style: solid;
}
a:hover{
    color: #FFFFFF;
    background-color: #000000;
}

.colorF5DEB3{background-color: #F5DEB3;}