.font{
	padding-top: 10px;
	font-size: 25px;
	font-family: 微軟正黑體;
}

.image{
    width: 300px;
    height: 200px;
}

.sideBar{
    float: left;
    background-color: #EEEEEE;
    border-radius: 5px;
}

.sidecontent{
    background-color: #F5DEB3;
    margin: 5px;
    border-style:hidden;
    border-radius: 5px;
    
    
}
.sidecontent:hover{
    
}

table, td, th {
            text-align: center;
            border: 1px solid black;
}

table {
        
        width: 90%;
}

th {
        height: 50px;
        background-color: green;
        color: white;
}

$("body").photoZoom(
{
zoomStyle : {
"border":"1px solid #ccc",
"background-color":"#fff",
"box-shadow":"0 0 5px #888"
}
});

$("body").photoZoom(
{
onMouseOver : function(currentImage){
    
},
onMouseOut : function(currentImage){
// do something
}
});
