.information {
    margin-left: 35%;
    margin-right: 35%;
    margin-top :3%;
    border-radius: 10px;
    border-width: 5px;
}

.fblogo{
    float:left;   
    margin: 10% 20% 0px 20%;
}

.account{
    width: 100%;
    margin-top: 10px;
    border-color: #000000;
    border-radius: 10px;
    font-size: 30px;
}

.fb {
    width: 100%;
    margin-top :5%;
    border-radius: 10px;
    border-width: 5px;
}

.button{
    width: 100%;
    height: 50px;
    margin-top: 5%;
    border-radius: 10px;
    background-color: #6495ED;
    font-size: 15px;
    color: #FFFFFF;
}

.button:hover{
    box-shadow: #666 2px 2px 3px;
    background-color: #154eb7;
}

.footer {
    text-align: center;
    height: 100px;
    margin-top: 30px;
    background-color: #EEEEEE;
}
