.header {
    height: 100px;
    background-color: #90EE90;
    border-radius: 5px;
    font-size: 50px;
    font-family: serif;
}

.content {
    text-align: center;
    height: auto;
}

.information {
    width: 300px;
    text-align: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: #90EE90;
    color: #111111;

}

.account{
    font-size: 20px;
    margin-top: 10px;
}

.button{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #90EE90;
    font-size: 15px;
}

.button:hover{
    box-shadow: #666 2px 2px 3px;
}

.footer {
    text-align: center;
    height: 100px;
    margin-top: 30px;
    background-color: #EEEEEE;
}